<div class="container-footer">
    <div class="footer">
        <div class="container">
            <div class="footer__section">
                <div class="footer__section--body">
                    <ul class="section--sitemap">
                        <li><a href="/privacy">Política de Privacidad</a></li>
                    </ul>
                    <ul class="section--sitemap--dos">
                        <li><a href="/cookies">Política de Cookies</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__section">
                <div class="footer__section--footer">
                    <ul class="address">
                        <li>
                            <a href="https://wa.link/6gctzk" target="_blank" rel="nofollow">+57 (313) 588 7171</a>
                        </li>
                        <li>
                            <a href="https://goo.gl/maps/snUDk1qo6wy8omSM9" target="_blank" rel="nofollow">Carrera
                                75 #110a-18 - Medellín, Antioquia</a>
                        </li>
                    </ul>
                    <ul class="section--social">
                        <li>
                            <a class="icon-facebook-circled" target="_blank" rel="nofollow"
                                href="https://www.facebook.com/afroditacolombia"></a>
                        </li>
                        <li>
                            <a class="icon-instagram" target="_blank" rel="nofollow"
                                href="https://www.instagram.com/afroditacol_makeup/"></a>
                        </li>
                        <li>
                            <a class="icon-youtube-play" target="_blank" rel="nofollow"
                                href="https://www.youtube.com/channel/UCmP3uMl4xlzuUMOgkRxM8kw"></a>
                        </li>
                        <li>
                            <a class="icon-location" target="_blank" rel="nofollow"
                                href="https://goo.gl/maps/snUDk1qo6wy8omSM9"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__section">
                <div class="footer__section--body">
                    <a class="link__logo--footer" href="/">
                        <img src="/static/images/logo-favicon.png" alt="Logo Afrodita Colombia"
                            title="Logo | Afrodita Colombia" class="logo__footer">
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>