{{!-- Footer --}}

<div class="container-footer">
    <div class="footer">
        <div class="container">
            <div class="footer__section">
                <div class="footer__section--title">
                    <h4>Mapa de sitio</h4>
                </div>
                <div class="footer__section--body">
                    <ul class="section--sitemap">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/empresa">Empresa</a></li>
                        <li><a href="#productos">Productos</a></li>
                        <li><a href="#contacto">Contacto</a></li>
                    </ul>
                    <ul class="section--sitemap--dos">
                        <li><a href="/cookies">Política de Cookies</a></li>
                        <li><a href="/privacy">Política de Privacidad</a></li>
                        <li><a href="/sitemap">Mapa de sitio</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__section">
                <div class="footer__section--title">
                    <h4>Contacto</h4>
                </div>
                <div class="footer__section--footer">
                    <ul class="address">
                        <li>
                            <a href="https://wa.link/fiun5w" target="_blank" rel="nofollow">+57 (301) 634 4239</a>
                        </li>
                        <li>
                            <a href="https://g.page/decortinaseinteriores?share" target="_blank" rel="nofollow">Carrera
                                62 #45b-42 - Rionegro, Antioquia</a>
                        </li>
                    </ul>
                    <ul class="section--social">
                        <li>
                            <a class="icon-facebook-circled" target="_blank" rel="nofollow"
                                href="https://www.facebook.com/Decortinas-e-interiores-242497499186483"></a>
                        </li>
                        <li>
                            <a class="icon-instagram" target="_blank" rel="nofollow"
                                href="https://www.instagram.com/decortinas1/"></a>
                        </li>
                        <li>
                            <a class="icon-youtube-play" target="_blank" rel="nofollow"
                                href="https://www.youtube.com/channel/UCH8GttmkV1FjsbdxiYSsKjg"></a>
                        </li>
                        <li>
                            <a class="icon-location" target="_blank" rel="nofollow"
                                href="https://g.page/decortinaseinteriores?share"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__section">
                <div class="footer__section--title">
                    <h4>De Cortinas e Interiores</h4>
                </div>
                <div class="footer__section--body">
                    <a class="link__logo--footer" href="/">
                        <img src="/img/logodecortinas.png" alt="Logo De Cortinas e Interiores"
                            title="Logo | De Cortinas e Interiores.com" class="logo__footer">
                    </a>
                </div>
                <div class="partner">
                    <strong>Desarrollo: </strong>
                    <a href="https://www.k1n0.com.co/" rel="nofollow" target="_blank">
                        <img src="/img/logo-intro-black.png" alt="" class="logo__dev">
                    </a>
                </div>
            </div>

        </div>

        <div class="container">
            <p class="footer__right">
                Todos los derechos reservados - De Cortinas e Interiores
            </p>
        </div>

    </div>
</div>