<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Afrodita Colombia | Productos cosméticos de calidad">
    <meta property="og:description" content="Afrodita Colombia | Productos cosméticos de calidad | Al Mayor y al Detal">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://afroditacol.herokuapp.com/">
    <meta property="og:image" content="https://afroditacol.herokuapp.com/static/images/logo-og-afrodita.jpg">
    <meta property="og:image:width" content="878">
    <meta property="og:image:height" content="768">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:local" content="es_LA">
    <title>Afrodita Colombia | Cosméticos de calidad en Colombia</title>
    <meta name="description"
        content="Afrodita Colombia | Productos cosméticos de calidad | Ventas al pormayor y al detal.">
    <meta name="keywords" content="afrodita, Afrodita, Colombia, colombia, afrodita colombia, Afrodita Colombia, Maquillaje, Cosméticos, productos de belleza, fitness
    polvo, pintalabios, rubor, maquillaje profesional, cosméticos al por mayor">
    <link rel="icon" href="/static/images/logo-favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="author" content="k1n0com">
    <!-- Facebook ID -->
    <meta property="fb:app_id" content="247122750125242">
    <!-- Schema -->
    <script
        type="application/ld+json">{"@context": "https://schema.org","@type": "Organization","url": "https://www.afroditacolombia.com/","contactPoint":[{"@type": "ContactPoint","telephone": "+57-350-741-6434","contactType": "customer service"}],"address": {"@type": "PostalAddress","addressLocality": "Medellín, Colombia","postalCode": "050012","streetAddress": "Carrera 51 N° 45-70 Edificio Orión 9° Piso, Medellín - Antioquia"},"email": "afroditacolombia@gmail.com", "member": [{"@type": "Organization"}],"alumni": [{"@type": "Person","name": "Fabian"}],"name": "Jose Fabian","telephone": "(+57 4) 350-741-6434"}</script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M9LPK2L');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T87WPFJQ7N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-T87WPFJQ7N');
    </script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-180246803-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '246932803595086');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=246932803595086&ev=PageView&noscript=1" /></noscript>
    <!-- Fin Facebook Pixel Code -->
    <meta name="google-site-verification" content="4lXL1g0XXvYqoSHRbX9JOH364G-Q7xgCkIK4BEfzuW8" />
    {% block extracss %}
    <style>
        /*GLOBAL*/
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
        @import url('/static/css/estilos.css');
        @import url('/static/css/fontello.css');
    </style>
    {% endblock extracss %}
    {% block extracaptcha %}{% endblock extracaptcha %}
</head>

<body class="{{ page_name }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9LPK2L" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <img src="/static/images/fondo-afrodita.jpg" style="width: 100%;" alt="">
    <!-- {% comment %} -->

</body>

</html>